In [1]:
#Strings
my_name = "Eva Munjuga"
my_name

'Eva Munjuga'

In [2]:
#Boolean
is_Kenya = True
is_Somalia = False
is_Kenya

True

In [3]:
#Integers
1+1

2

In [4]:
#Floats
type(7.3)

float

In [5]:
type(is_Kenya)

bool

In [7]:
name_one = "Moringa"
name_two = "School"
School_name = name_one + " " + name_two
School_name

'Moringa School'

In [8]:
# Coparison Operators
50>=40

True

In [9]:
#Arithmetic operators
# +, *, -, /, %, **, //

# % - gives you the remeinder
# ** - exponential (raised to the power of?)
# // - Flo division (gives the quotient)

In [11]:
# e.g. 
3%2

1

In [12]:
# e.g.
4**2

16

In [13]:
 # e.g.
5//2

2

In [16]:
# Control Flow Operators
# if else statement
students_maths= 7
if students_maths > 50:
    print("pass")
else:
      print("fail")

fail

In [17]:
x=10
if x > 0:
    print("num +")
else:
    print("num -")

num +

In [ ]:
Lwanga Njonge8:32â€¯PM
#Step 1
travel_destinations=['Argentina','Mexico','Italy','Finland','Canada','Croatia']
def number_of_destinations():
    number_of_destinations= len(travel_destinations)
    return number_of_destinations
number_of_destinations()
Ans 6

#Step 2
def favorite_destination():
    return 'Madagascar'
favorite_destination()
Ans Madagascar
#Step 3
def add_favorite_destination():
    travel_destinations.append(favorite_destination())
    return travel_destinations
add_favorite_destination()
travel_destinations[-1]
Ans Madagascar

#Step 4
print(travel_destinations)

In [2]:
tasks = {
    "Monday": ["Task 1", "Task 2"],
    "Tuesday": ["Task 3"],
    "Wednesday": ["Task 4", "Task 5", "Task 6"],
    "Thursday": [],
    "Friday": ["Task 7"]
}

In [8]:

for day, task_list in tasks.items():
    print(f"Tasks for {day}:")
    for task in task_list:
            print(task)
    else:
        print("No tasks")
        print()

Tasks for Monday:
Task 1
Task 2
No tasks

Tasks for Tuesday:
Task 3
No tasks

Tasks for Wednesday:
Task 4
Task 5
Task 6
No tasks

Tasks for Thursday:
No tasks

Tasks for Friday:
Task 7
No tasks

In [9]:
a = []
b = a
identity_compare = {} is {} # False
identity_compare2 = a is b # True
identity_compare3 = b is not [] # True
identity_compare4 = 9 is not 10 # True
identity_compare5 = "Same" is not "Same" # False
identity_compare6 = [1,3,4] is [1,2,3] # False
print(identity_compare, identity_compare2, identity_compare3, identity_compare4, identity_compare5, identity_compare6)

<>:6: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:6: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is not" with a literal. Did you mean "!="?

False True True True False False

<ipython-input-9-50e2c528522d>:6: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  identity_compare4 = 9 is not 10 # True
<ipython-input-9-50e2c528522d>:7: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  identity_compare5 = "Same" is not "Same" # False

In [1]:
name_list=['Leonard', 'Sellah', 'Kariuki']
for name in name_list:
    print(name)

Leonard
Sellah
Kariuki